/* You can add custom styles here. */

// @import "plugins/numbered";
body {
    --body-background: #000000;
    --color-link: #eef1f6;
    --color-visited-link: #64738c;
    --color-link-hover: #f4f8fd;
}