/* You can add custom styles here. */

// @import "plugins/numbered";
body {
    --body-background: #38474f;
    --color-link: #84b2ff;
    --color-visited-link: #84b2ff;
    --color-link-hover: #84b2ff;
}